<button type="button" class="btn btn-success">Accept</button>
<button type="button" class="btn btn-outline-success">Deny</button>
<button type="button" class="btn btn-success">YES</button>
<button type="button" class="btn btn-outline-success">NO</button>
<button type="button" class="btn btn-success">Save Changes</button>
<button type="button" class="btn btn-success">Add service</button>
<button type="button" class="btn btn-success">Edit</button>
<button type="button" class="btn btn-outline-success">Delete</button>
<button type="button" class="btn btn-success">Add a service</button>
<button type="button" class="btn btn-success">Contact</button>
<button type="button" class="btn btn-success">Send</button>
<button type="button" class="btn btn-success">Return</button>
<button type="button" class="btn btn-outline-success">Back</button>
<button type="button" class="btn btn-success">Transfer</button>
<button type="button" class="btn btn-success">Donate</button>
<button type="button" class="btn btn-success">LOG IN</button>
<button type="button" class="btn btn-outline-success">FORGOT PASSWORD</button>

<button type="button" class="btn btn-success">Join the community</button>
<button type="button" class="btn btn-success">Join a community</button>
<button type="button" class="btn btn-success">Create a community</button>
<button type="button" class="btn btn-outline-success">Leave the community</button>

<button type="button" class="btn btn-success">Daily</button>
<button type="button" class="btn btn-success">Weekly</button>
<button type="button" class="btn btn-success">Monthly</button>
<button type="button" class="btn btn-success">Yearly</button>
<button type="button" class="btn btn-success">Global</button>