<form method="post">
  <div class="mb-3">
    <label for="facility" class="form-label">Facility name</label>
    <input type="text" class="form-control" id="facility" aria-describedby="facility">
  </div>
  <div class="mb-3">
    <label for="street" class="form-label">Street name</label>
    <input  class="form-control" id="facility" aria-describedby="street">

  </div>
  <div class="mb-3">
    <label for="contract" class="form-label">Contract number</label>
    <input type="text" class="form-control" id="contract" aria-describedby="contract">
  </div>
  <div class="mb-3">
    <label for="nmachine" class="form-label">Number machine</label>
    <input type="text" class="form-control" id="nmachine" aria-describedby="nmachine">
  </div>
  <button (click)="addfacility()" type="submit" class="btn btn-primary">Submit</button>
</form>
