<div class="container-fluid">
  <div class="row">

      <div class="caja_graf d-flex justify-content-center align-items-center flex-column">
        <p>Aqui va la grafica</p>
        <p>Detras el fondo del cesped creciendo</p>
    </div>

  </div>
  <div class="row imag">

    <div class="caja_botones d-flex justify-content-evenly align-items-center ">
      <button type="button" class="btn">Today</button>
      <button type="button" class="btn">This Week</button>
      <button type="button" class="btn">This month</button>
      <button type="button" class="btn">This year</button>
    </div>

  </div>
</div>
