<div class="container-fluid">
  <div class="row">
    <div *ngIf="caja!=null; else espera">

      <div *ngFor="let art of caja">
        <div class="caja">
          <div class="row">
            <div class="col-6">
              <h2>My home {{art.id_instalation}} Overview</h2>
              <p>Total energi produced: {{art.energy_produced}}</p>
              <p>Total carbon saved: {{art.carbono_ahorrado}}</p>
              <p>Total tokens produced: </p>
            </div>
            <div class="col-6">
              <p>Residence: </p>
              <p>Energy Power Provider: </p>
              <p>Contract Number/Code: </p>
            </div>

          </div>
          <div class="row">
            <div class="caja_graf d-flex justify-content-center align-items-center flex-column">
              <p>Aqui va la grafica</p>

          </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #espera>Generando tu informacion...</ng-template>
  </div>
</div>
