<div *ngIf="isLoggedIn">
    <div class="container chat" [hidden]="!switch ">
    
        <div class="row chat-header">
            <div class="col chat-title">Chat with an administrator here!</div>
            <button class="btn exit" (click)="switchFunction()"><i class="bi bi-x"></i></button> 
        </div>
        <div class="chats" #scrollMe>
            <div class="row" *ngFor="let message of messages">
                <div class="chat-box-left col-8" *ngIf="message.receiver == currentUser.success.id">
                    <h5>{{message.message}}</h5>
                </div>
                <div class="col" *ngIf="message.sender == currentUser.success.id"></div>
                <div class="col-8 chat-box-right" *ngIf="message.sender == currentUser.success.id">
                    <h5>{{message.message}}</h5>
                </div>
            </div>
        </div>
        <form 
        class="chat-message"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        [formGroup]="form">
            <input 
            type="text" 
            name="message" 
            id="message" 
            placeholder="Write your message here!" 
            class="form-control"
            formControlName="message"
            required>
            <button type="submit" class="btn btn-success" id="send" title="Send the message"><i class="bi bi-envelope-fill"></i></button>
        </form>
    </div>
    <button class="btn btn-success" id="btn-chat" (click)="switchFunction()" [hidden]="switch">
        <h2>GW</h2>
    </button>
    
</div>