<div class="container-fluid">
  <div class="row">
    <div >

      <div >
        <div class="caja">
          <div class="row">
            <div class="col-6">
              <h2>My home devices</h2>
              <p>Total energi produced: </p>
              <p>Total carbon saved: </p>
              <p>Total tokens produced </p>
            </div>
            <div class="col-6">
              <p>Residence: </p>
              <p>Energy Power Provider: </p>
              <p>Contract Number/Code:  </p>
            </div>

          </div>
            <div class="row">
              <div class="caja_graf d-flex justify-content-between align-items-center flex-column">
                <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#contenido" aria-expanded="false" aria-controls="contenido">
                  General
                </button>
              </p>
              <div class="collapse" id="contenido">
                <div class="card card-body">
                  Aqui va la grafica
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #espera>Generando tu informacion...</ng-template>
  </div>
</div>
