<div class="col-8 mt-5 mb-3">
    <div class="container userBox" *ngIf="currentUser; else loggedOut">
      <div class="row cajaUE uCon fs-1 pt-4">
        <div class="row">
          <strong class="col">Details of  purchase</strong>
        </div>
          <div class="ms-3 spinner-border text-primary" role="status" *ngIf="loading">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <div class="uCon">
            <strong>Service name: </strong>{{service.name}}
        </div>
        <div class="uCon">
          <strong>Description: </strong>{{service.description}}
        </div>
        <div class="uCon">
          <strong>Link: </strong><a href="{{service.link}}" target="_blank">{{service.link}}</a>
        </div>
        <div class="uCon">
          <strong>Price: </strong>{{service.precio}}
        </div>
        <div class="uCon">
          <strong>Purchase date: </strong>{{service.created_at}}
        </div>

    </div>
    <button type="button" class="btn btn-success fs-4" [routerLink]="['/profile/hist']">Return</button>
  </div>
  
    <ng-template #loggedOut>
      Please login.
    </ng-template>