<div class="aside flex-shrink-0 " >

  <a href="/" class="d-flex align-items-center justify-content-center py-2 mb-3 text-decoration-none border-bottom">
    <span class="fs-1 white  fw-semibold">DASHBOARD</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed fs-3" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        FACILITY
      </button>
      <div class="subelement collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded fs-4">General view</a></li>
          <li><a href="#" class="link-dark rounded fs-4">My devices</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed fs-3" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        COMMUNITIES
      </button>
      <div class="subelement collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded fs-4">My Community</a></li>
          <li><a href="#" class="link-dark rounded fs-4">Global Community</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed fs-3" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        TOKEN STORE
      </button>
      <div class="subelement collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded fs-4" 
            [routerLink]="['/mostrarServicios']" routerLinkActive="router-link-active" >User services</a></li>
          <li><a href="#" class="link-dark rounded fs-4">Service</a></li>
          <li><a href="#" class="link-dark rounded fs-4">Service</a></li>
          <li><a href="#" class="link-dark rounded fs-4">Service</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3 "></li>

  </ul>
</div>
