<div id="app">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <!-- <div class="container">
    <router-outlet></router-outlet>
  </div> -->
  <div class="row">
    <div class="col-3" *ngIf="isLoggedIn">
      <app-aside></app-aside>

    </div>
    <div class="col-8 container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row" *ngIf="isLoggedIn">
    <app-footer></app-footer>
  </div>
</div>



<!-- <div>
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-3">
      <app-aside></app-aside>

    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <app-footer></app-footer>
  </div>
</div> -->
<!-- <div>
  <app-cajas-desplegables></app-cajas-desplegables>
</div> -->
<!-- <div>
  <app-community></app-community>
</div> -->

