<div class="col-8 mt-5 mb-3">
  <div class="container userBox" *ngIf="currentUser; else loggedOut">
      <div class="row cajaUE uCon fs-1 pt-4">
        <strong class="col">Your profile</strong>
        <button [routerLink]="['/profile/edit']" class="btn btn-success btn-block enter-btn fs-4 me-4" style="width: 110px;">Edit</button>
      </div>
      <div class="uCon">
          <strong>Username: </strong>{{currentUser.success.name}}
      </div>
      <div class="uCon">
        <strong>Email: </strong>{{currentUser.success.email}}
      </div>
      <div class="uCon">
        <strong>Credit Union Member Number: </strong>{{currentUser.success.cumn}}
      </div>
      <div class="uCon">
        <strong>Phone Number: </strong>{{currentUser.success.phone_number}}
      </div>
      <div class="uCon">
        <strong>Subscribed to newsletter: </strong>{{news}}
      </div>
      <!-- <div class="uCon">
        <strong>Account created at: </strong>{{currentUser.success.created_at}}
      </div> -->
  </div>
  <button type="button" class="btn btn-success fs-4" [routerLink]="['/home']">Back</button>
</div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>
  
  <!-- <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p> -->
  <!-- <p>
    <strong>ID:</strong>
    {{ currentUser.success.id }}
  </p> -->