<div class="col-8 mt-5 mb-3">
  <div class="container userBox" *ngIf="currentUser; else loggedOut">
    <div class="row cajaUE uCon fs-1 pt-4">
      <div class="row">
        <strong class="col">Your profile</strong>
        <div class="col-5" id="botones">
          <button [routerLink]="['/profile/hist']" class="btn btn-success btn-block enter-btn fs-4" >Services</button>
          <button [routerLink]="['/profile/edit']" class="btn btn-success btn-block enter-btn fs-4" style="min-width: 110px;">Edit</button>
        </div>
      </div>
        <div class="ms-3 spinner-border text-primary" role="status" *ngIf="loading">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="uCon">
          <strong>Username: </strong>{{currentUser.success.name}}
      </div>
      <div class="uCon">
        <strong>Email: </strong>{{currentUser.success.email}}
      </div>
      <div class="uCon">
        <strong>Credit Union Member Number: </strong>{{currentUser.success.cumn}}
      </div>
      <div class="uCon">
        <strong>Phone Number: </strong>{{currentUser.success.phone_number}}
      </div>
      <div class="uCon">
        <strong>Subscribed to newsletter: </strong>{{news}}
      </div>
      <div class="uCon">
        <strong>Tokens: </strong>{{currentUser.success.token}}
      </div>
      <!-- <div class="uCon">
        <strong>Account created at: </strong>{{currentUser.success.created_at}}
      </div> -->
  </div>
  <button type="button" class="btn btn-success fs-4" [routerLink]="['/home']">Return</button>
</div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>