<div class="col-8 mt-5 mb-3">
  <div class="container userBox" >
    <form [formGroup]="formUpdate" (ngSubmit)="onSubmit()" class="mt-4 text-start">
          <div class="uCon cajaUE fs-1 pt-4">
            <strong>Edit your profile</strong>
            <div class="ms-3 spinner-border text-primary" role="status" *ngIf="loading">
              <span class="visually-hidden">Loading...</span>
            </div>
            <button class="btn btn-success btn-lg" (click)="modal()" type="button">Change password</button>
            <button class="btn btn-success btn-lg" type="submit" [disabled]="!formUpdate">Submit</button>
          </div>
            <!-- <div class="col-12" hidden>
              <label for="id" class="form-label">id</label>
              <input type="number" id="id" class="form-control" formControlName="id">
            </div> -->
            <div class="uCon">
              <label for="name" class="form-label"><strong>Name</strong></label>
              <input type="text" id="name" class="form-control" formControlName="name" required>
              <span *ngIf="this.formUpdate.get('name')?.touched && this.formUpdate.get('name')?.errors?.['required']">This field cannot be empty</span>
              <span *ngIf="this.formUpdate.get('name')?.touched && this.formUpdate.get('name')?.errors?.['minLength']">The name must be at least 5 characters</span>
              <span *ngIf="this.formUpdate.get('name')?.touched && this.formUpdate.get('name')?.errors?.['maxLength']">The name must be at least 40 characters</span>
            </div>
            <div class="uCon">
              <label for="email" class="form-label"><strong>Email</strong></label>
              <input type="email" id="email" class="form-control" formControlName="email" required>
              <span *ngIf="this.formUpdate.get('email')?.touched && this.formUpdate.get('email')?.errors?.['required']">This field cannot be empty</span>
              <span *ngIf="this.formUpdate.get('email')?.touched && this.formUpdate.get('email')?.errors?.['maxLength']">The name must be at least 100 characters</span>
            </div>
            <div class="uCon">
              <label for="phone_number" class="form-label"><strong>Phone number</strong></label>
              <input type="text" id="phone_number" class="form-control" formControlName="phone_number" required>
              <span *ngIf="this.formUpdate.get('phone_number')?.touched && this.formUpdate.get('phone_number')?.errors?.['required']">This field cannot be empty</span>
            </div>
            <div class="uCon">
              <label for="cumn" class="form-label"><strong>Credit Union Member Number</strong></label>
              <input type="text" id="cumn" class="form-control" formControlName="cumn">
            </div>
            <div class="uCon form-check form-switch ms-5">
              <input type="checkbox" id="newsletter" role="switch" class="form-check-input form-control" formControlName="newsletter">
              <label for="newsletter" class="form-check-label">I wish to receive updates and news about Green Wallet (NO/YES)</label>
            </div>
          </form>
        </div>
        <div class="mt-2 mb-4">
          <button class="btn btn-success btn-lg me-3" type="text" routerLink="/profile">Return</button>
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel">Remembering your password</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form
        name="formPass"
        (ngSubmit)="newPass()"
        #f="ngForm"
        novalidate
        [formGroup]="formPass">
        <div class="modal-body form-group">
          <h5>Type your email here</h5>
          <input type="text"
          class="form-control"
          name="password"
          id="password"
          formControlName="password"
          required
          placeholder="Enter the new password*">
        </div>
        <div class="alert-danger" *ngIf="f.submitted">
          <span *ngIf="this.formPass.get('password')?.errors?.['required']">You must enter an new password to continue</span>
          <span *ngIf="this.formPass.get('password')?.errors?.['minLength']">The password must be at least 10 characters</span>
          <span *ngIf="this.formPass.get('password')?.errors?.['maxLength']">The password must be at max. 255 characters</span>
        </div>
        <div class="modal-footer form-group">
          <button class="btn btn-success btn-block enter-btn fs-5" id="send2" [disabled]="!formPass" type="submit">Submit</button>
        </div>
      </form>
      
    </div>
  </div>
</div>