<!-- <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        Edit your profile
      </h3>
    </header>
    <div>
      <strong>Username:</strong>
      <input type="text" value="{{ currentUser.success.name }}">
    </div>
    <div>
      <strong>Email:</strong>
      <input type="text" value="{{ currentUser.success.email }}">
    </div>
    <div>
        <strong>Phone number:</strong>
        <input type="text" value="{{ currentUser.success.phone_number }}">
    </div>
    <div>
        <strong>Credit Union Member Number:</strong>
        <input type="text" value="{{ currentUser.success.cumn }}">
        
    </div>
    <div class="form-group">
      <input
        type="checkbox"
        name="newsletter"
        id="newsletter"
        style="margin-right: 10px; height: 20px; width: 20px;"
        [(ngModel)]="form.newsletter"
        #newsletter="ngModel"
      />
      <label for="newsletter">I want to receive news and updates about Green Wallet</label>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block">Edit</button>
    </div>

    <div class="form-group">
      <button [routerLink]="['/profile']" class="btn btn-primary btn-block">Back</button>
    </div>

    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
      Edition failed!<br />{{ errorMessage }}
    </div>
    
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>
   -->

<div class="row" id="con">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="card text-center my-3">
      <div class="card-header titulos">Edit your profile
        <div class="ms-3 spinner-border text-primary" role="status" *ngIf="loading">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Enter the data you want modified</h5>
        <form [formGroup]="formUpdate" (ngSubmit)="onSubmit()" class="mt-4 text-start">
          <div class="row mb-3">
            <div class="col-12">
              <label for="name" class="form-label">Name</label>
              <input type="text" id="name" class="form-control" formControlName="name" required>
              <span *ngIf="this.formUpdate.get('name')?.touched && this.formUpdate.get('name')?.errors?.['required']">This field cannot be empty</span>
              <span *ngIf="this.formUpdate.get('name')?.touched && this.formUpdate.get('name')?.errors?.['minLength']">The name must be at least 5 characters</span>
              <span *ngIf="this.formUpdate.get('name')?.touched && this.formUpdate.get('name')?.errors?.['maxLength']">The name must be at least 40 characters</span>
            </div>
            <div class="col-12 mt-2">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email" required>
              <span *ngIf="this.formUpdate.get('email')?.touched && this.formUpdate.get('email')?.errors?.['required']">This field cannot be empty</span>
              <span *ngIf="this.formUpdate.get('email')?.touched && this.formUpdate.get('email')?.errors?.['maxLength']">The name must be at least 100 characters</span>
            </div>
            <div class="col-12 mt-2">
              <label for="phone_number" class="form-label">Phone number</label>
              <input type="text" id="phone_number" class="form-control" formControlName="phone_number" required>
              <span *ngIf="this.formUpdate.get('phone_number')?.touched && this.formUpdate.get('phone_number')?.errors?.['required']">This field cannot be empty</span>
            </div>
            <div class="col-12 mt-2">
              <label for="cumn" class="form-label">Credit Union Member Number</label>
              <input type="text" id="cumn" class="form-control" formControlName="cumn">
            </div>
            <div class="col-12 my-2 form-check form-switch">
              <input type="checkbox" id="newsletter" role="switch" class="form-check-input form-control" formControlName="newsletter">
              <label for="newsletter" class="form-check-label">I wish to receive updates and news about Green Wallet (NO/YES)</label>
            </div>
          </div>
          <div class="my-3 text-center">
            <button class="btn btn-success btn-lg me-3" type="text" routerLink="/profile">Return</button>
            <button class="btn btn-success btn-lg" type="submit" [disabled]="!formUpdate">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>