<div class="row mt-5">
  <div class="col d-flex justify-content-center">
    <div class="row userBox register">
      <!-- <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        [formGroup]="form"
      >
        <div class="row">
          <div class="form-group col">
            <label for="name">Username</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              formControlName="name"
              required
              minlength="5"
              maxlength="40"
              placeholder="Username*"
            />
            <div class="alert-danger" *ngIf="f.submitted">
              <div *ngIf="this.form.get('name')?.errors?.['required']">Username is required</div>
              <div *ngIf="this.form.get('name')?.errors?.['minLength']">Username must be at least 5 characters</div>
              <div *ngIf="this.form.get('name')?.errors?.['maxLength']">
                Username must be at most 40 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              formControlName="password"
              required
              minlength="10"
              placeholder="Password*"
            />
            <div class="alert-danger" *ngIf="f.submitted">
              <div *ngIf="this.form.get('password')?.errors?.['required']">Password is required</div>
              <div *ngIf="this.form.get('password')?.errors?.['minLength']">Password must be at least 10 characters</div>
            </div>
          </div>
          <div class="form-group col">
            <label for="cpassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              name="cpassword"
              id="cpassword"
              formControlName="cpassword"
              required
              minlength="10"
              placeholder="Confirm Password*"
            />
            <div class="alert-danger" *ngIf="f.submitted">
              <div *ngIf="this.form.get('cpassword')?.errors?.['required']">Confirm Password is required</div>
              <div *ngIf="this.form.get('cpassword')?.errors?.['minLength']">Confirm Password must be at least 10 characters</div>
              <div *ngIf="this.form.get('cpassword')?.hasError('matching')">Password and Confirm Password must match</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-8">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              formControlName="email"
              required
              email
              placeholder="Email*"
            />
            <div class="alert-danger" *ngIf="f.submitted">
              <span *ngIf="this.form.get('email')?.errors?.['required']">Email is required</span>
              <span *ngIf="this.form.get('email')?.errors?.['email']">Type a valid email address</span>
              <span *ngIf="this.form.get('email')?.errors?.['maxLength']">The name must be at least 100 characters</span>
            </div>
          </div>
          <div class="form-group col-4">
              <label for="phone_number">Phone number</label>
              <input
                type="text"
                class="form-control"
                name="phone_number"
                id="phone_number"
                formControlName="phone_number"
                required
                placeholder="Phone number*"
              />
              <div class="alert-danger" *ngIf="f.submitted">
                <span *ngIf="this.form.get('phone_number')?.errors?.['required']">Phone number is required</span>
              </div>
          </div>
        </div>

          <div class="form-group">
            <label for="cumn">Credit Union Member Number</label>
            <input
              type="text"
              class="form-control"
              name="cumn"
              id="cumn"
              formControlName="cumn"
              placeholder="Credit Union Member Number"
            />
          </div>
          <div class="row">
            <div class="form-group ms-2 form-check">
              <input
              class="form-check-input form-control"
              type="checkbox"
              name="conf"
              id="conf"
              formControlName="conf"
              style="margin-right: 10px; height: 25px; width: 25px;"
              />
              <label for="conf" class="form-check-label"><a href="https://wallets.green/privacy-policy" target="_blank">I accept Terms and Conditions of Use*</a></label>
              <div class="alert-danger" *ngIf="f.submitted">
                <div *ngIf="this.form.get('conf')?.errors?.['required']">You must accept terms and conditions</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group ms-2 form-check">
              <input
              class="form-check-input form-control"
              type="checkbox"
              name="newsletter"
              id="newsletter"
              formControlName="newsletter"
              style="margin-right: 10px; height: 25px; width: 25px;"
              />
              <label for="newsletter" class="form-check-label">I wish to receive updates and news about Green Wallet</label>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block enter-btn fs-3" id="send" [disabled]="!form" type="submit">Send</button>
            </div>
          </div>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Registration failed!<br />{{ errorMessage }}
          </div>
        </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>
  <div class="row textB">
    Already have a Green Wallet account?
    <br>
    <a id="enlace" [routerLink]="['/login']"><strong>Click here to log in and start !</strong></a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Email validation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form *ngIf="!isSuccessful"
        name="form2"
        (ngSubmit)="onSubmit2()"
        #f="ngForm"
        novalidate
        [formGroup]="form2">
        <div class="modal-body form-group">
          <h3>Check your email and type the code to continue your registration.</h3>
          <input type="text"
          class="form-control"
          name="code"
          id="code"
          formControlName="code"
          required
          placeholder="Enter your code here*">
        </div>
        <div class="alert-danger" *ngIf="f.submitted">
          <div *ngIf="this.form2.get('code')?.errors?.['required']">You must enter the code sent to your email to continue</div>
        </div>
        <div class="modal-footer form-group">
          <button class="btn btn-success btn-block enter-btn fs-3" id="send2" [disabled]="!form2" type="submit" data-bs-dismiss="modal">Submit</button>
        </div>
      </form>
      
    </div>
  </div>
</div>
